<body>
  <div class="container">
    <div class="header">Dashboard</div>
    <div class="content">
      <div class="left">
        <div class="container-one">
          <div class="text">
            <h1>Low In Stock</h1>
          </div>
          <div class="figure">
            <div class="window">
              <h2>{{ getLowStock() }}</h2>
            </div>
          </div>
        </div>
        <div class="container-two">
          <div class="text">
            <h1>Upcoming Transactions</h1>
          </div>
          <div class="figure">
            <div class="window">
              <h2>{{ getReservationsCount() }}</h2>
            </div>
          </div>
        </div>
        <div class="container-three">
          <div class="text">
            <h1>Expired Items</h1>
          </div>
          <div class="figure">
            <div class="window">
              <h2>{{ getExpiredCount() }}</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="chart">
          <div class="chart-one">


          </div>
          <div class="chart-two">

          </div>
        </div>
        <div class="ranking">
          <div class="table-header">Medicines Expiring in 1 Month</div>
            <table>
              <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Exp. Date</th>
              </tr>
              <ng-container *ngFor="let expiringMedicine of getExpiringWithinMonth()">
              <tr *ngIf="expiringMedicine.quantity !== 0">
                <td>{{expiringMedicine.itemNumber}}</td>
                <td>{{expiringMedicine.name}}</td>
                <td>{{expiringMedicine.quantity}}</td>
                <td>{{expiringMedicine.expirationDate | date}}</td>
              </tr>
              </ng-container>
            </table>
        </div>
      </div>
    </div>
  </div>
</body>
