body {
    background-color: #f5f9f6;
    overflow: hidden;
  }
  
  fieldset {
    width: 94%;
    border-style: hidden;
    background-color: white;
    border-radius: 1rem;
    justify-content: left;
    text-align: left;
    padding: 2% 0 2% 2%;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 6rem 3rem;
    margin: 0 2% 0 2%;
    display: flex;
    justify-content: space-between;
  }
  
  input {
    font-size: 1.2vw;
    padding: 2%;
    margin: 1% 0 1% 0;
    border-style: hidden;
    border-radius: 10px;
    width: 80%;
    background-color: white;
    color: rgb(45, 45, 45);
    box-shadow: rgba(0, 0, 0, 0.1) 0.2rem 0.2rem 1rem 0.3rem;
    font-weight: 200;
    outline: none;
  }
  
  label {
    text-align: left;
    font-size: 1.5vw;
    font-weight: 300;
  }


#signUp, #forgotPass {
    border-style: hidden;
    background-color: transparent;
    text-decoration: underline;
    color: black;
    margin-bottom: 1%;
    font-size: 1.25vw;
}

#signUp:hover, #forgotPass:hover, #loginButton:hover {
    cursor: pointer;
}

#backButton {
    width: 2.75%;
    font-size: 2.5vw;
    padding: 0;
    border-style: hidden;
    color: #55665e;
    background-color: transparent;
    font-weight: 100;
    margin: 2% 0 1% 2%;
    transition: all 0.5s ease;
    transform: scale(1);
}

#backButton:hover   {
    color: #04aa6d;
    transform: scale(1.5);
}



#submitButton {
    width: 10%;
    font-size: 2vw;
    border-style: hidden;
    border-radius: 1rem;
    color: white;
    background-color: #04aa6d;
    font-weight: 100;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 0.15rem 0.05rem;
    margin: 1% 2% 0 0;
    padding: 0.5% 0 0.5% 0;
    transition: all 0.5s ease;
    transform: scale(1);
}

#submitButton:hover {
    color: #04aa6d;
    background-color: white;
    transform: scale(1.3);
}


.container {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    height: 100vh;
}

::placeholder { 
    color: black;
    opacity: 0.5; 
    font-weight: 50;
  }

  .left {
    float: left;
    width: 48%;
  }
  
  .right {
    float: right;
    width: 48%;
  }
  
  .submit {
    text-align: right;
    width: 100%;
  }

button:hover    {
    cursor: pointer;
}