<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<body>
  <a routerLink="/"
    ><button onclick="back()" id="backButton">
      <i class="fa fa-arrow-circle-o-left"></i></button
  ></a>
  <div class="container">
    <form (ngSubmit)="onSubmit()">
      <fieldset>
        <div class="left">
          <div class="map-container">
            <div id="map"></div>
          </div>
        </div>
        <div class="left">
          <label for="coords">Coordinates</label><br />
          <input
            type="text"
            formControlName="coordinates"
          /><br />

          <label for="name">Branch Name</label><br />
          <input
            type="text"
            formControlName="name"
            placeholder="Ex.: ABC Pharmacy"
          /><br />

          <label for="contactNo">Contact No</label><br />
          <input
            type="text"
            formControlName="contactNo"
            placeholder="Ex.: Dela Cruz"
          /><br />
          <div class="store-hours">
            <div class="sub-left">
              <label for="openingTime" class="labels">Opening Time</label><br>
              <input
              type="time"
              formControlName="openingTime"
            />
            </div>
            <div class="sub-right">
              <label for="closingTime" class="labels">Closing Time</label>
              <input
              type="time"
              formControlName="closingTime"
            /><br />
            </div>
          </div>

          <label for="storeHours">Email</label><br />
          <input

            type="email"

            formControlName="email"
            placeholder="Ex.: Juan"
          /><br />

          <!-- <label for="closingTime">Closing Time</label><br />
          <input
            type="time"
            formControlName="closingTime"
            placeholder="Ex.: Dela Cruz"
          /><br /> -->
          <label for="password">Password</label><br />
          <input
            type="password"
            formControlName="password"
            placeholder="should be at least 9 characters."
          /><br />
        </div>
      </fieldset>

      <div class="submit">
        <br />
        <button class="rigisterBtn" type="submit" id="submitButton">Submit ></button>
      </div>
    </form>
  </div>
</body>
