
<body>
  <a routerLink="/"
    ><button onclick="back()" id="backButton">
      <i class="fa fa-arrow-circle-o-left"></i></button
  ></a>
  <div class="container">
    <form  [formGroup]="userDataForm" (ngSubmit)="onSubmit()">
      <div class="form">
        <div class="left">
          <div class="map-container">
            <div id="map"></div>
          </div>
        </div>
        <div class="left">


          <label for="name">Branch Name</label><br />
          <input
            type="text"
            formControlName="name"
            placeholder="Ex.: ABC Pharmacy"
          /><br />

          <label for="name">Address</label><br />
          <input
            type="text"
            formControlName="address"
            placeholder="Ex.: Brgy. 1 Poblacion, Batangas City"
          /><br />


          <label for="contactNo">Contact No</label><br />
          <input
            type="text"
            formControlName="contactNumber"
          /><br />
          <div class="store-hours">
            <div class="sub-left">
              <label for="openingTime" class="labels">Opening Time</label><br>
              <input
              type="time"
              formControlName="openingTime"
            />
            </div>
            <div class="sub-right">
              <label for="closingTime" class="labels">Closing Time</label>
              <input
              type="time"
              formControlName="closingTime"
            /><br />
            </div>
          </div>

          <label for="email">Email</label><br />
          <input

            type="email"
            formControlName="email"
            placeholder="Ex.: pharmacy@domain.com"
          /><br />

          <label for="password">Password</label><br />
          <input
            type="password"
            formControlName="password"
            placeholder="should be at least 9 characters."
          /><br />
        </div>
      </div>

      <div class="submit">
        <br />
        <button class="rigisterBtn" type="submit" id="submitButton">Submit ></button>
      </div>
    </form>
  </div>
</body>
