<div class="container">

  <div class="reservation">
      <div class="header">Reservations</div>

    <div class="topnav">
      <div class="search-container">
        <input
          type="text"
          [(ngModel)]="searchQuery"
          placeholder="Search.."
          (input)="filterReservations()"
        />

        <button id="searchButton">
          <i class="fa-solid fa-magnifying-glass" style="color: white; font-size: 1.25vw"></i>
        </button>
      </div>
    </div>

    <div class="content">
      <div class="reservation-list-container">
        <table class="reservation-list">
          <tr class="table-header">
            <th>Order ID</th>
            <th>Name</th>
            <th>Order</th>
            <th>Date & Time</th>
            <th>Total Price</th>

          </tr>
          <ng-container *ngFor="let reservation of reservations">
            <tr class="table-content">
              <td style="font-weight: 500;">{{ reservation.id }}</td>
              <td>{{ reservation.user.name }}</td>
              <td>{{ reservation.cartContent }}</td>
              <td>{{ reservation.updatedAt | date }} | {{ reservation.updatedAt | date: 'h:mm a' }}</td>
              <td>P {{ reservation.totalAmount }}</td>
            </tr>
          </ng-container>
        </table>
      </div>
    </div>
  </div>
</div>
