<body>
  <div class="container">
    <div class="header">Dashboard</div>
    <div class="container-two">
      <div class="user-engagements">
        <div class="live-figure">
          <span id="figure">420</span><br />
          <span id="label">User Engagements</span>
        </div>
        <div class="drop-down">
          <span id="figureTwo">65% <i class="fa fa-level-up"></i></span><br />
          <span id="labelTwo">over the last</span>

          <div class="dropdown">
            <button class="dropbtn">
              7 days <i class="fa fa-sort-down"></i>
            </button>
            <div class="dropdown-content">
              <a routerLink="/home/dashboard">7 days</a>
              <a routerLink="/home/dashboard">15 days</a>
              <a routerLink="/home/dashboard">30 days</a>
              <a routerLink="/home/dashboard">60 days</a>
              <a routerLink="/home/dashboard">100 days</a>
              <a routerLink="/home/dashboard">1 year</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-three">
      <a routerLink="/bestseller">
        <div class="best-seller">
          <img src="./../../../../../assets/bar_chart.png" /><br />
          <span class="label-three">Best-Seller</span>
        </div></a
      >
      <a routerLink="/engagements">
        <div class="user-engagement-figure">
          <img
            src="./../../../../../assets/line_chart.png"
            style="height: 75%"
          /><br />
          <span class="label-three">User Engagement</span>
        </div>
      </a>
    </div>
  </div>

  <div class="container-two">
    
  </div>
</body>
