<div class="container">
  <div class="summary">
    <div class="header">Archive</div>

    <div class="topnav">
      <div class="search-container">
        <input type="text" placeholder="Search.." [(ngModel)]="searchQuery" (input)="filterArchive()"/>

        <button id="searchButton">
          <i class="fa-solid fa-magnifying-glass" style="color: white; font-size: 1.25vw"></i>
        </button>
      </div>
    </div>

    <div class="content">
      <div class="archive-list-container">
        <table class="archive-list">
          <tr class="table-header">
            <th style="width:3.65%"><input type="checkbox" class="header-box" matTooltip="Select All"  [checked]="selectAll" (click)="toggleSelectAll($event)"></th>
            <th>Item No.</th>
            <th>Generic Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Expiration Date</th>
          </tr>
        <ng-container *ngFor="let archive of filteredArchive">
          <tr class="table-content">
            <td><input type="checkbox" [checked]="archive.selected" (click)="toggleItemSelection(archive)"></td>
            <td>{{archive.itemNo}}</td>
            <td>{{archive.productName}}</td>
            <td>{{archive.quantity}}</td>
            <td>{{archive.price}}</td>
            <td>{{archive.expirationDate}}</td>
          </tr>

        </ng-container>

        </table>
      </div>
    </div>
    <div class="bottom">
      <button class="restore" matTooltip="Restore"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
      <button class="delete" matTooltip="Delete" (click)="deletePopup()"><i class="fa-solid fa-trash-can"></i></button>
    </div>
  </div>
</div>
