
<div class="container">
  <div class="summary">
    <div class="header">History</div>
  </div>

  <div class="topnav">
    <div class="search-container">
      <input type="text" placeholder="Search.." [(ngModel)]="searchQuery"/>
      <button id="searchButton">
        <i class="fa-solid fa-magnifying-glass" style="color: white; font-size: 1.25vw"></i>
      </button>
    </div>
  </div>

  <div class="content">
    <div class="history-container">
      <table class="history-list">
        <tr class="table-header">
          <th>Reference No.</th>
          <th>Name</th>
          <th>Contact No.</th>
          <th>Date & Time</th>
          <th>Amount</th>
        </tr>
        <ng-container  *ngFor="let order of orderHistory">
        <tr *ngIf="order.isFulfilled === true" class="table-content">
          <td>{{ order.id }}</td>
          <td>{{ order.user.name }}</td>
          <td>{{ order.cartContent }}</td>
          <td>{{ order.updatedAt | date }} | {{order.updatedAt |  date: 'h:mm a' }}</td>
          <td>Php {{ order.totalAmount | number:'1.2-2'}}</td>
          <td>
          </td>
        </tr>
        </ng-container>
      </table>
    </div>
  </div>
</div>
