<div class="header">
  <div class="left"><h2>Account Details</h2></div>
  <div class="right"><mat-dialog-actions><button mat-dialog-close class="close-button"><i class="fa-solid fa-circle-xmark"></i></button></mat-dialog-actions></div>
</div>
<mat-dialog-content>
  <form>
    <label for="emailAddress">Email Address</label><br>
    <input type="email" name="emailAddress" id="emailAddress"><br>
    <label for="existingPassword">Password</label><br>
    <input type="password" name="existingPassword" id="existingPassword"><br>

    <br><mat-divider></mat-divider><br>

    <label for="newEmail">New Email Address</label><br>
    <input type="email" name="newEmail" id="newEmail"><br>
    <label for="newPassword">New Password</label><br>
    <input type="password" name="newPassword" id="newPassword"><br>
    <label for="reEnterPassword">Re-Enter Password</label><br>
    <input type="password" name="reEnterPassword" id="reEnterPassword"><br>

    <div class="footer">
      <button type="submit">Confirm</button>
    </div>
  </form>
</mat-dialog-content>
