<div class="container">
  <div class="header">Settings</div>

  <div class="store-details-container">

    <div class="container-header">
      <div class="header-text">Store Details</div>
      <div class="button-container">
        <button matTooltip="Edit" (click)="editStore()"><i class="fa-solid fa-pen-to-square"></i></button>
      </div>
    </div>




    <div class="left">
      <div class="profile-container">
        <div id="profile">

        </div>
      </div>
    </div>
    <div class="right">
      <ng-container *ngFor="let keyValue of pharmacy | keyvalue">
        <ng-container *ngIf="keyValue.key == 'name'
        || keyValue.key == 'address' || keyValue.key == 'contactNumber' || keyValue.key == 'storeHours'"
        >
        <label for="branchName">{{ keyValue.key | titlecase }}</label><br />
        <span id="branchName">{{ keyValue.value }}</span><br />
        </ng-container>
      </ng-container>
    </div>

  </div>

  <div class="account-details-container">
    <div class="container-header">
      <div class="header-text">Account Information</div>
      <div class="button-container">
        <button matTooltip="Edit" (click)="editAccount()"><i class="fa-solid fa-pen-to-square"></i></button>
      </div>
    </div>

    <div class="left">
      <ng-container *ngFor="let keyValue of pharmacy.user | keyvalue">
      <ng-container *ngIf="keyValue.key == 'email'">

      <label for="email">{{keyValue.key}}</label><br />
      <span id="email">{{ keyValue.value }}</span><br />
      </ng-container>
      </ng-container>
    </div>
  </div>
</div>
