* {
  color: #55665e
}

button  {
  color: white;
  background-color: black;
  padding: 1% 3%;
  font-size: 1vw;
  margin: auto;
  border-radius: 0.5rem;
}

mat-dialog-actions  {
  justify-content: center;
  align-items: center;
  display: flex;
}

table {
  table-layout: auto;
  width: 100%;
}

.bottom {
  text-align: right;
  width: 70%;
}

h2  {
  padding: 0 0 0 2.5%;
}
