* {
  border-style: hidden;
  outline: none;
}

.left {
  width: 50%;
  float: left;
}

.right  {
  width: 12.5%;
  float: right;
  height: 10vh;
  top: 0;
  right: 0;
}

.footer {
  text-align: right;
  padding-top: 5%;
}

mat-dialog-content  {
  width: 100%;
}

h2  {
  color: #55665e;
  margin: 5%;
  font-size: 2vw;
}

.close-button {
  margin: 5%;
  font-size: 2vw;
  color: #AA0441;
  float: right;
  opacity: 0.5;
  transition: all 0.3s ease;
  background-color: transparent;
}

.close-button:hover {
  opacity: 1;
}

label {
  font-size: 1.25vw;

}


input[type="text"], input[type="number"] {
  font-size: 1vw;
  width: 65%;
  padding: 1%;
  margin: 0 0 1% 0;
  box-shadow: rgba(50, 50, 105, 0.15) 0 0.2rem 0.5rem 0, rgba(0, 0, 0, 0.05) 0 0.1rem 0.1rem 0;
  outline: none;
  color: #55665e;
}

.reset  {
  opacity: 0.25;
  transition: all 0.5s ease;
  font-size: 1.5vw;
  color: black;
  background-color: transparent;
  margin: 0 5%;
}

.reset:hover  {
  opacity: 1;
  color: #AA0441;
}

.date {
  font-size: 1vw;
  width: 65%;
  padding: 1%;
  box-shadow: rgba(50, 50, 105, 0.15) 0 0.2rem 0.5rem 0, rgba(0, 0, 0, 0.05) 0 0.1rem 0.1rem 0;
  color: #55665e;
  outline: none;
}

button[type="submit"] {
  cursor: pointer;
  font-size: 1.5vw;
  padding: 2%;
  opacity: 0.5;
  color: white;
  background-color: #04AA6D;
  border-radius: 1rem;
  transform: scale(1);
  transition: all 0.5s ease;
  font-weight: 100;
}

button[type="submit"]:hover  {
  opacity: 1;
}

::placeholder  {
  opacity: 0.5;
}

/* Hide the default number input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


